* {
  user-select: none;
}

.focusedInputError {
  border-color: rgba(236, 82, 82, 0.6);
  outline: 0;
  outline: thin dotted \9;
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(236, 82, 82, 0.6) !important;
}
